ion-alert {

  .alert-wrapper {
    background: #fff;
    border-radius: 8px;
    text-align: center;
    width: 560px;
  }

  .alert-title {
    font-size: 36px;
    padding-top: 50px;
  }

  .alert-message {
    color: #888;
    font-size: 30px;
    padding-top: 18px;
  }

  .alert-button {
    color: #02BB00;
    flex: 1 1 auto;
    font-size: 36px;
    height: 100px;

    &-group {
      border-top: 1PX solid #e5e5e5;
      margin-top: 30px;
    }
  }
}
