* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  cursor: pointer;
  display: block;
  text-decoration: none;
}

body {
  color: #444;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  line-height: 1;
}

li {
  list-style: none;
}

// .disable-scroll .ion-page {
//   pointer-events: auto;
// }
//
// .enable-hover a:hover {
//   opacity: 1;
// }
//
// .scroll-content {
//   overflow-y: auto;
//
//   .has-refresher > & {
//     border-top: 0;
//   }
// }
