* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  cursor: pointer;
  display: block;
  text-decoration: none;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  line-height: 1;
}

li {
  list-style: none;
}

.menu-content {
  transform-origin: 0 50%;
}

.scroll-content {
  overflow-y: auto;
}
