.x {
  float: left;
  line-height: inherit;

  &\+ {
    @extend .x;
    float: right;
  }
}

.y {
  &:after {
    clear: both;
    content: '';
    display: table;
  }

  &\+ {
    @extend .y;
    margin: 0 auto;
  }
}

.z {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  &\+ {
    @extend .z;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
