.pace {
  pointer-events: none;
  user-select: none;

  &-inactive {
    display: none;
  }

  &-progress {
    @extend .z;
    background: $color-green;
    height: 6px;
    left: -100%;
    width: 100%;
    z-index: 1;
  }

}
