$border: rgba(5,5,5,.0822);
$color-red: #e64340;
$color-green: #1aad19;
$color-black: #353535;
$font-path: '../assets/fonts';
$font-size: 28px;
$h1-size: 48px;
$h2-size: 37px;
$h3-size: 34px;
$link-color: #000;


// ion-button
$button-background: #f8f8f8;
$button-border: 2px solid $border;
$button-radius: 10px;
$button-font: 32px;
$button-height: 70px;


// ion-item
$item-border: 1PX solid #d8d8d8;
$item-height: 64px;


// ion-label
$label-font: $h3-size;
$label-padding-left: 30px;


// ion-menu
$menu-background: #f4f4f4;
$menu-width: 480px;


// ion-tabs
$tabs-font: 20px;
$tabs-height: 98px;
$tabs-highlight-color: $color-green;
$tabs-highlight-height: 6px;


// ion-title
$title-font: $h2-size;


// ion-toolbar
$toolbar-height: 88px;
$toolbar--icon-size: 32px;
$toolbar--icon-width: $toolbar-height;
