app-nav {
  .header {
    padding-left: 28px;
  }

  .content {

    .scroll-content {
      margin: 160px 0 80px;
    }
  }

  .footer {
    padding: 12px 28px;
    a {
      font-size: 20px;
      white-space: nowrap;
    }
  }
}
